/* Goole Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
/* Shared style */
.font-open-sans{
   font-family: 'Open Sans', sans-serif;
   font-optical-sizing: auto;
}
header{
   background-color: #FFF8F3;
   background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
   background-repeat: no-repeat;
   background-position: left center, bottom right;
   padding-top: 50px;
}
.btn{
   background-color:#FD6E0A;
   color: #ffffff;
   font-size: 20px;
   font-weight: 700;
   border: none;
   border-radius: 5px;
   padding: 15px 38px;
   cursor: pointer;
}
/* header style start */
header a{
   text-decoration: none;
}
/* ul li{
   list-style: none;
} */
.logo a{
   font-size: 45px;
   font-weight: 900;
   color: #000000;
}
.logo a span{
   color:#FD6E0A;
}
nav {
   max-width: 1140px;
   width: 71%;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav .menu{
   display: flex;
   align-items:center;
   list-style: none;
   gap: 51px;
   color:#474747;
}
nav .menu a{
   font-size: 20px;
   color: #474747;
}

/*Header style end */

/* Hero section start */
#banner{
   margin: 61px 38px 0 230px;
   display: flex;
   justify-content:space-between;
   align-items: center;
}
#banner .banner-content{
   max-width: 585px;
}
#banner .banner-content h2{
   font-size: 45px;
   font-weight: 600;
   color: #474747;
   margin-bottom: 5px;
}
#banner .banner-content h1{
   font-size: 85px;
   font-weight: 900;
   color:#181818;
   margin-bottom: 20px;
}
#banner .banner-content p{
   font-size: 18px;
   line-height: 30px;
   color: #757575;
   margin-bottom: 30px;
}
#banner .banner-image img{
   max-width: 584px;
   vertical-align: middle;
}

/* Hero section end */