/* Goole Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
/* Shared style */
.font-open-sans{
   font-family: 'Open Sans', sans-serif;
   font-optical-sizing: auto;
}
header{
   background-color: #FFF8F3;
   background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
   background-repeat: no-repeat;
   background-position: 23px 38px, bottom right;
   padding-top: 50px;
}
.btn{
   background-color:#FD6E0A;
   color: #ffffff;
   font-size: 20px;
   font-weight: 700;
   border: none;
   border-radius: 5px;
   padding: 15px 38px;
   cursor: pointer;
}
.text-center{
   text-align: center;
}
.section-heading{
   max-width: 827px;
   text-align: center;
   margin: 0 auto;
}
.section-heading h2{
   font-size: 35px;
   margin-bottom: 30px;
}
.section-heading p{
   font-size: 18px;
   line-height: 30px;
   color: #757575;
   margin-bottom: 30px;
}
/* header style start */
header a{
   text-decoration: none;
}
/* ul li{
   list-style: none;
} */
.logo a{
   font-size: 45px;
   font-weight: 900;
   color: #000000;
}
.logo a span{
   color:#FD6E0A;
}
nav {
   max-width: 1140px;
   width: 71%;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav .menu{
   display: flex;
   align-items:center;
   list-style: none;
   gap: 51px;
   color:#474747;
}
nav .menu a{
   font-size: 20px;
   color: #474747;
}

/*Header style end */

/* Hero section start */
#banner{
   margin: 61px 38px 0 230px;
   display: flex;
   justify-content:space-between;
   align-items: center;
}
#banner .banner-content{
   max-width: 585px;
}
#banner .banner-content h2{
   font-size: 45px;
   font-weight: 600;
   color: #474747;
   margin-bottom: 5px;
}
#banner .banner-content h1{
   font-size: 85px;
   font-weight: 900;
   color:#181818;
   margin-bottom: 20px;
}
#banner .banner-content p{
   font-size: 18px;
   line-height: 30px;
   color: #757575;
   margin-bottom: 30px;
}
#banner .banner-image img{
   max-width: 584px;
   vertical-align: middle;
}
/* Hero section end */
#about{
   padding-top:130px;
   
}
#about .about-container{
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
   text-align: center;
   background-color: #FFF8F3;
   padding: 131px 156px;
}
#about .about-container .about-info{
   display: flex;
   justify-content: space-around;
}
.about-info .info-card p{
   font-size: 20px;
   line-height: 30px;
   color: #757575;
   
}
.about-info .info-card h4{
font-size: 20px; 
}

/* Start skills section */
#skills{
   padding-top:130px;
}

#skills .skills-container{
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
}

.skills-box{
   display: flex;
   gap: 24px;
}
.skill-card{
   padding: 30px;
   max-width: 267px;
   box-shadow: 0 6px 50px 0 #00000027;
}
.skill-card img{
   max-width: 44px;
   margin-bottom: 30px;
}
.skill-card h3{
   font-size: 20px;
   color: #181818;
   margin-bottom: 20px;
}
.skill-card p{
   font-size: 16px;
   line-height: 28px;
   color: #757575;

}

/* End skills section */


/*Start resume section */
#resume{
   padding-top:130px;
}

.resume-container{
   width: 71%;
   max-width: 1140px;
   margin: 113px auto 0;
   display: flex;
   gap: 24px;
}
.section-title{
   font-size: 30px;
   color: #474747;
   margin-bottom: 30px;
}
.resume-card{
   max-width: 511px;
   margin-right:47px;
}
.card-title{
   font-size: 25px;
   margin-bottom: 10px;
   color: #474747;
}
.card-info{
   font-size: 20px;
   margin-bottom: 20px;
   color: #474747;
}
.card-text{
   font-size: 16px;
   line-height: 28px;
   color: #757575;
   margin-bottom: 50px;
}
hr{
   margin: 30px 0;
}

/* End resume section */

/* Start footer section */
footer{
   background-color: #FFF8F3;
   padding: 130px 0;
   margin-top: 130px;
}
footer .footer-container{
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   /* text-align: center; */
   gap: 116px;
}
.footer-container h2{
   font-size: 35px;
   color: #181818;
   margin-bottom: 20px;
}
.footer-container .social{
   max-width: 562px;
}
.footer-container .social p{
   font-size: 16px;
   line-height: 28px;
   color: #474747;
   margin-bottom: 30px;
}
.footer-container .icons a{
   margin-right: 24px;
}

.footer-container form input[type="text"], .footer-container form textarea{
   width: 461px;
   padding: 18px 31px;
   margin-bottom: 24px;
   border: none;
   border-radius: 5px;
   color: #757575;
}

